{% load custom_tags %}

<div class="sidebar-controllers last">
    {% include "sidebar/upload-csv-btns.html"%}
    {% include "sidebar/download-csv-btns.html"%}
</div>

<div class="sidebar-controllers">
    <button type="button" id="send-sms-btn" class="btn btn-xs btn-default btn-block">
        Send SMS
    </button>
</div>
