<div class="menu-item">
    <label>Language</label>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"> {{ current_language.name | truncatechars:15 }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for language in languages %}
                <li class="{% if current_language.id == language.id %}active{% else %}not-active{% endif %}">
                    <a href="#" class="change-arg" key="language" value="{{ language.name }}">
                        {{ language.name | truncatechars:20 }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
