{% load static %}
{% load cache %}
{% load custom_tags %}

<nav id="sidebar-wrapper" page="{{ page }}">
    <div id="sidebar-content">
        <div id="sidebar-brand">
            <a href="/">Wakaru</a>
            <i id="menu-closer" class="fa fa-times pull-right siderbar-toggler" aria-hidden="true"></i>
        </div>

        <div id="sidebar-header">
            <div id="user-pic">
                <img class="img-responsive img-rounded" email="{{ user.email }}" alt="User picture">
            </div>
            <div id="user-info">
                <span id="user-name"><strong>{{ user.username }}</strong></span>
                <a href="{% url 'logout' %}" class="btn btn-primary btn-block">Log out</a>
            </div>
        </div>

        {% with controller_name='sidebar/controller_'|add:page|add:".html" %}
            {% include controller_name %}
        {% endwith %}

        <div id="sidebar-menu" page="{{ page }}">
            <ul>
                <li class="menu-section">
                    <span>Practise</span>
                    <div class="menu-item" page="show-sentence">
                        <a href="{% url 'show-sentence' %}">
                            <span>Let's listen</span>
                        </a>
                    </div>
                </li>
                <li class="menu-section">
                    <span>Extra</span>
                    <div class="menu-item" page="contact-us">
                        <a href="{% url 'contact-us' %}">
                            <span>Contact us</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div id="sidebar-footer">
        <a href="//gitlab.com/yukio/">
            <i class="fa fa-gitlab"></i>
        </a>
        <a href="//github.com/fzyukio">
            <i class="fa fa-github"></i>
        </a>
        <a href="#">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fa fa-youtube"></i>
        </a>
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="cc by-nc-sa" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"/>
        </a>
    </div>
</nav>
