<div class="modal fade in" id="send-sms-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     data-backdrop="static" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Send SMS</h3>
            </div>
            <div class="modal-body">
                To be completed
            </div>

            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary start">
                            <span>Send</span>
                        </button>
                    </div>
                    <div class="btn-group" data-dismiss="modal"  role="group">
                        <button class="btn btn-primary cancel">
                            <span>Cancel</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
