<div id="visualisation-control" class="row no-margin">
    <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9 col-xl-11 no-padding">
        <div class="btn-group control-item" role="group" aria-label="...">
            <button id="play-song" type="button" class="btn btn-primary">Play</button>
            <button id="pause-song" type="button" class="btn btn-primary" style="display: none;">Pause</button>
            <button id="resume-song" type="button" class="btn btn-primary" style="display: none;">Resume</button>
            <button id="stop-song" type="button" class="btn btn-primary">Stop</button>
        </div>
    </div>
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-1 no-padding">
        <div class="control-item slider-group">
            <div class="col-xs-5 col-lg-4 no-padding-left">Speed</div>
            <div class="col-xs-7 col-lg-8 no-padding-left">
                <input id="speed-slider" type="text"
                       data-slider-min="60" data-slider-max="100" data-slider-step="1"
                       data-slider-value="100"/>
            </div>
        </div>
    </div>
</div>
