$navbar-height: 40px;
$page-title-height: 25px;
$page-title-padding-bottom: 10px;
$bottom-height: 36px;
$main-content-padding: 10px;
$main-content-padding-bottom: 0px;
$main-content-padding-top: 10px;

$scrollbar-width: 5px;
$scrollbar-height: 5px;

$scrollbar-border-radius: 0;
$max-screen-height: 1024px;
$min-screen-height: 640px;

$grid-status-width: 50px;
$slider-group-width: 150px;

$controller-wrapper-height: 36px;
$controller-wrapper-child-height: 25px;
$menu-opener-width: 25px;
$menu-opener-padding-left: 0px;
$menu-closer-width: 25px;
$panel-margin-bottom: 0px;
$panel-border: 1px;
$grid-button-height: 30px;
