{% load staticfiles %}
{% load custom_tags %}
<p>Hi,</p>
<br/>

Someone's just contacted us. Details:

<strong>Name: </strong> {{ name }}
<br>
<strong>Email: </strong> {{ email }}
<br>
<strong>Message: </strong> {{ message }}

<p>Best regards,</p>
<p>The Koe project</p>
