{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load custom_tags %}
{% load tz_detect %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "images/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "images/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "images/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "images/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "images/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "images/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "images/favicon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {# Webpack rendered CSS #}
    {% render_bundle 'main' 'css' %}
    <style>
        #loading-spinner-modal {
            background: rgba(255, 255, 255, .8) url('{% static "images/loading-fading-squares.gif" %}') 50% 50% no-repeat;
        }
    </style>

    {% block extra-css %}{% endblock %}
</head>

<body>

{% block content-wrapper %}
    <div id="content-wrapper" class="toggled">
        {% block main-content %}
            <div class="main-content {% block main-content-classes %}{% endblock %}">
                <div class="content-center">
                    {% block content-center %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}


{#<div id="content-wrapper">#}
{#    {% block navbar %}{% include "navbar.html" %}{% endblock %}#}
{##}
{#    {% block main-content %}#}
{#        <div class="main-content">#}
{#            <div class="content-center">#}
{#                {% block content-center %}{% endblock %}#}
{#            </div>#}
{#        </div>#}
{#    {% endblock %}#}
{#</div>#}


<div class="modal" id="loading-spinner-modal"></div>

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='no-yes' yes='Yes' no='No' %}
{% endblock %}

{% if db_assignment and db_assignment.can_annotate %}
    {% include 'partials/upload-csv-modal.html' %}
{% endif %}

<div class="alert alert-bottom alert-success">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <div class="message"></div>
</div>
<div class="alert alert-bottom alert-danger">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
    <span class="report">
        Click
        <strong>
            <a class="link" href="#" error-id="" onclick="showErrorDialog(this.getAttribute('error-id'));">
                here
            </a>
        </strong>
        to give a detail report.
    </span>
</div>

{% debug_mode as is_in_debug_mode %}
{% if user.is_superuser or is_in_debug_mode %}
    {% render_bundle 'main' 'js' 'JQUERY' %}
    <script>
        window.USER_IS_SUPERUSER = true;
    </script>
{% endif %}
{# django-js-reverse #}
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>

{% if is_in_debug_mode %}
    <script src="{% static "raven.js" %}"></script>
    <script src="{% static "bluebird.js" %}"></script>
    <script src="{% static "keyboard.js" %}"></script>
{% else %}
    <script src="//cdn.ravenjs.com/3.15.0/raven.min.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.2/bluebird.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/keyboardjs/2.4.1/keyboard.min.js"></script>
{% endif %}

{# Webpack rendered Javascript #}
{% render_bundle 'main' 'js' %}
{#<script src="{% static "jquery.xdomainajax.js" %}"></script>#}

{# Common URL #}
<script>
    window.appCache = {};
    {% get_server_constants as constants %}

    var constants = {{ constants|safe }};
    for (var key in constants) {
        if (Object.prototype.hasOwnProperty.call(constants, key)) {
            window.appCache[key] = Object.freeze(constants[key]);
        }
    }
</script>

{% tz_detect %}
{% block scripts %}{% endblock %}
</body>
</html>
