{% extends "base.html" %}
{% load static %}


{% block content-wrapper %}
<div id="content-wrapper" class="toggled">
    {% block main-content %}
        <div class="main-content has-sidebar {% block main-content-classes %}{% endblock %}">
            {% include "sidebar/sidebar.html"%}
            <div class="content-center">
                {% block content-center %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}
