{% extends 'base.html' %}
{% load custom_tags %}

{% block content-wrapper %}
    <div id="content-wrapper" class="toggled">
    {% block main-content %}
        <div class="main-content has-sidebar {% block main-content-classes %}{% endblock %}">
        {% include "sidebar/sidebar.html" %}
        <div class="content-and-footer">
            <div class="content-center has-bottom">
                {% block content-center %}{% endblock %}
                {# This is where we put the buttons #}
            </div>
            <div id="bottom">
                {% block bottom %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}
