{% extends "base-with-sidebar.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content-center %}

    <div id="contact-us-content">
        <div class="controller-wrapper">
            <div id="menu-opener">
                <div class="input-group">
                    <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
                </div>
            </div>
            <div></div>
        </div>

        <p>Wakaru is a small hobby project to help me, my nephew and my friends learn foreign languages.</p>
        <p>All audio and text data comes from <a href="//www.tatoeba.org">tatoeba.org</a>. All credit goes to them.</p>
        <p>If you have any suggestion/question, I would love to hear from you. Contact me using the form below.</p>

        <br>

        <form id="contact-us-form" url="{% url "contact-us" %}" method="post">
            {% csrf_token %}

            <div class="replaceable">
                {% include 'partials/contact-us-form.html' %}
            </div>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="submit" id="submit-inquiry" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
