{% extends 'base-with-sidebar-and-grid.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}View parent list{% endblock %}
{% debug_mode as is_in_debug_mode %}


{% block content-grid %}
    <div class="controller-wrapper">
        <div id="menu-opener">
            <div class="input-group">
                <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
            </div>
        </div>

        <div id="grid-status">
            <div class="input-group">
                <span class="input-group-addon left"><span id="nselected">0</span>/<span id="ntotal">0</span></span>
            </div>
        </div>

        <div class="grid-controller">
            <div class="input-group">
                <span class="input-group-addon left">Filter</span>
                <input id="parents-grid-filter" type="text" class="form-control middle">
            </div>
        </div>
    </div>

    <div class="has-grid" id="parents-grid"></div>

{% endblock %}

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='yes-no' yes='Yes' no='No' %}
    {% include 'partials/send-sms-modal.html' %}
{% endblock %}
