{% extends 'base-with-footer-and-sidebar.html' %}
{% load custom_tags %}
{% load staticfiles %}


{% block title %}Wakaru{% endblock %}

{% block content-center %}
    <div class="row no-margin">
        <div id="track-visualisation">
            <div class="row no-margin">
                <svg id="oscillogram"></svg>
            </div>
            <div class="row no-margin">
                <svg id="spectrogram"></svg>
            </div>
        </div>
        {% include 'partials/spectrogram-controller.html' %}
    </div>

    <div class="row no-margin" id="answer-and-result" language="{{ current_language.id }}">

        <div id="instruction" class="bs-callout bs-callout-primary" style="display: none;">
            <h4>Click play to listen</h4>
            What did you hear? Type your answer in the input below.
            You can try <span class="trials-left">{{ trials_left }}</span> more time(s).
        </div>

        <div id="result-incorrect" class="bs-callout bs-callout-primary" style="display: none;">
            <h4>That's incorrect. :(</h4>
            Here's the breakdown of your answer. Correct parts are in green. Incorrect parts are in red. Underscores are missing parts.
            <ol class="breadcrumb">
                <li class="instruction-text" class="active"></li>
            </ol>
            You can try <span class="trials-left">{{ trials_left }}</span> more time(s) or click "Give up" to reveal the answer.
        </div>

        <div id="result-correct" class="bs-callout bs-callout-success" style="display: none;">
            <h4>That's correct. :)</h4>
            Here's the correct sentence with full punctuation and Kanji (if Japanese)
            <ol class="breadcrumb">
                <li class="original-correct" class="active"></li>
            </ol>
            Click "Next Sentence" to continue.
        </div>

        <div id="result-givenup" class="bs-callout bs-callout-default" style="display: none;">
            <h4>OK then, here's the correct answer:</h4>
            <ol class="breadcrumb">
                <li class="original-correct" class="active"></li>
            </ol>
            Click "Next Sentence" to continue.
        </div>

        <div id="result-no-more-trial" class="bs-callout bs-callout-danger" style="display: none;">
            <h4>That's still incorrect :(</h4>
            Here's a breakdown of your answer. Correct parts are in green. Incorrect parts are in red. Underscores are missing parts.
            <ol class="breadcrumb">
                <li class="instruction-text" class="active"></li>
            </ol>
            Here's the correct sentence with full punctuation and Kanji (if Japanese)
            <ol class="breadcrumb">
                <li class="original-correct" class="active"></li>
            </ol>

            Click "Next Sentence" to continue.
        </div>

        <div id="answer" class="input-group">
            <input type="text" class="form-control" placeholder="Your answer here...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Check</button>
            </span>
        </div><!-- /input-group -->

    </div>

    <div class="col-xs-1 no-padding controller-wrapper" id="menu-opener">
        <i class="fa fa-bars input-group-addon left siderbar-toggler" aria-hidden="true"></i>
    </div>
{% endblock %}

{% block bottom %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button disabled id="next-sentence-btn" type="button" class="btn btn-primary">Next sentence</button>
        </div>
        <div class="btn-group" role="group">
            <button id="give-up-btn" type="button" class="btn btn-primary">Give up</button>
        </div>
    </div>
{% endblock %}

{% block modal-dialog %}
    {% include 'partials/modal.html' with order='yes-no' yes='Set' no='Cancel' %}
{% endblock %}

{% block scripts %}
    {% debug_mode as is_in_debug_mode %}
    {% if is_in_debug_mode %}
        <script src="{% static "d3.js" %}"></script>
    {% else %}
        <script src="//d3js.org/d3.v5.min.js"></script>
    {% endif %}
{% endblock %}
