{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block navbar-right %}
    <p class="navbar-text navbar-right">Forget password</p>
{% endblock %}

{% block content-center %}
    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %}
    <p>{{ message }}
        <br/>
        <br/>
        You will be redirected to the home page in
        <span id="countdown-redirect" count="5" url="{% url "reset-password" %}"></span>
        seconds, or you can click <a href="{% url "reset-password" %}">here</a>.
    </p>
{% endblock %}

{% block bottom %}{% endblock %}
