{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block navbar-right %}
    <p class="navbar-text navbar-right">Registration</p>
{% endblock %}

{% block content-center %}
    <div id="register-form">
        <form role="form" url="{% url "register" %}" method="post">
            {% csrf_token %}

            <div class="form-group">
                <div class="input-group">
                    {{ form.username|add_error_class:"has-error"|add_class:"form-control" }}
                </div>
                {{ form.username.errors }}
            </div>

            <div class="form-group">
                <div class="input-group">
                    {{ form.first_name|add_error_class:"has-error"|add_class:"form-control" }}
                </div>
                {{ form.first_name.errors }}
            </div>

            <div class="form-group">
                <div class="input-group">
                    {{ form.last_name|add_error_class:"has-error"|add_class:"form-control" }}
                </div>
                {{ form.last_name.errors }}
            </div>

            <div class="form-group">
                <div class="input-group">
                    {{ form.email|add_error_class:"has-error"|add_class:"form-control" }}
                </div>
                {{ form.email.errors }}
            </div>

            <div class="form-group">
                <div class="input-group">
                    {{ form.password | add_error_class:"has-error"|add_class:"form-control" }}
                </div>
                {{ form.password.errors }}
            </div>

            <div class="form-group">
                <div class="input-group">
                    {{ form.re_password | add_error_class:"has-error"|add_class:"form-control" }}
                </div>
                {{ form.re_password.errors }}
            </div>

            <div class="form-group selectize">
                <label for="{{ form.languages.id_for_label }}" class="control-label">I want to learn</label>
                <select name="languages" class="form-control {% if form.languages.errors %}has-error{% endif %}"
                        id="{{ form.languages.id_for_label }}" tabindex="-1">
                    <option value="">---------</option>
                    {% for choice in form.languages %}
                        {{ choice }}
                    {% endfor %}
                </select>
                {{ form.languages.errors }}
            </div>


            <div class="form-group">
                <div class="col-xs">
                    <input type="checkbox" tabindex="3" name="remember" id="remember">
                    <label for="remember"> I agree with the terms and conditions</label>
                </div>
            </div>

            <div class="form-group ">
                <p>Already have an account? Click <a href="{% url 'login' %}">here</a> to log in.</p>
            </div>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <input type="submit" tabindex="4" class="btn btn-primary" value="Sign up">
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block bottom %}{% endblock %}
