@import "../variables";

#parents-grid {
  height: calc(#{$max-screen-height} - #{$controller-wrapper-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top});
}

#parents-grid-filter {
  border: 0;
  padding: 0 !important;
  box-shadow: none;
  background-color: inherit;
  border-bottom: 1px solid;
  border-bottom-color: red;
  border-radius: 0;
}

.modal-dialog {
  margin: 30vh auto;
}
