@import "../variables";

$scrollbar-height: 5px;
$axis-height: 18.6px;
$gap-between-svgs: 8px;
$visualisation-control-height: 42px;
$selectize-input-height: 36px;
$selectize-input-margin-top: 10px;
$selectize-input-margin-bottom: 10px;

#track-visualisation {
  overflow-y: hidden;
  overflow-x: visible;
  position: relative;

  #oscillogram {
    max-height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 1 / 14);
    min-height: calc((#{$min-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 1 / 14);
    height: calc((100vh - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 2 / 14);
    overflow-y: hidden;
  }

  #spectrogram {
    max-height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 4 / 14 - #{$axis-height});
    min-height: calc((#{$min-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 4 / 14 - #{$axis-height});
    height: calc((100vh - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 4 / 14 - #{$axis-height});
    overflow-y: hidden;

    .brush-handle {
      fill: #eee;
      stroke: #666;
    }

    .syllable {
      stroke: black;
      stroke-dasharray: 1, 1;
      fill: black;
      fill-opacity: 0.2;
      &:hover, &.highlight {
        stroke: rgb(255, 101, 4);
        stroke-width: 2px;
        fill: transparent;
        -webkit-animation: border-blink 1s step-end infinite;
        animation: border-blink 1s step-end infinite;
      }
    }

    .brush .selection {
      stroke: #000;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
  }
}

#visualisation-control {
  height: $visualisation-control-height;
  margin-right: 3px;

  .control-item {
    padding-top: 5px;
  }

  .slider-group {
    margin-top: 8px;
  }
}

#answer-and-result {
  max-height: calc((#{$max-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 9 / 14 - #{$bottom-height});
  min-height: calc((#{$min-screen-height} - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 9 / 14 - #{$bottom-height});
  height: calc((100vh - #{$main-content-padding-bottom} - #{$main-content-padding-top} - #{$scrollbar-height} - #{$visualisation-control-height} - #{$gap-between-svgs}) * 9 / 14 - #{$bottom-height});
}

.slider-group {
  width: 100%;

  .slider-selection {
    background: #d9230f7a;
  }
}

.slider.slider-horizontal {
  width: 100%;
}

#oscillogram {
  .line {
    fill: none;
    stroke-width: 1px;

    &.Gray {
      stroke: #000000;
    }

    &.Green {
      stroke: #007627;
    }

    &.Jet {
      stroke: #ff3400;
    }
  }
}

#answer-and-result {
  .breadcrumb {
    background-color: #ddd;
    margin-top: 8px;
    margin-bottom: 8px;

    span {
      font-size: 1.2em;
      &.correct {
        color: green;
      }

      &.incorrect {
        color: red;
        text-decoration: line-through;
      }

      &.missing {
        color: orangered;
      }
    }

  }
}
